extends ../layout/public

block content
    if isContent
        div(class="section")
            section(class="pt-5 pb-5 animate__animated animate__fadeIn animate__faster")
                div(class="w-full text-center py-6")
                    h1(class="text-2xl font-extrabold uppercase") My articles
                div(class="container mx-auto flex flex-wrap justify-center xl:justify-between py-2")
                    each article in articles
                        div(class="w-full px-2 md:w-1/2 xl:w-1/3")
                            div(class="mb-10 overflow-hidden rounded-lg shadow-md bg-white p-1")
                                img(
                                    src=`/uploads/${article.image}`
                                    alt=`Article ${article.title}`
                                    class="w-full h-60"
                                )
                                div(class="p-8 text-center sm:p-9 md:p-7 xl:p-9")
                                h3
                                    a(
                                        href=`/articles/details/${article.id}`
                                        class="text-dark hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px] text-sky-500"
                                    )= article.title
                                div(class=" flex justify-center p-5")
                                    a(
                                        href=`/articles/update/${article.id}`
                                        class="text-body-color hover:border-primary hover:bg-primary inline-block rounded-full py-2 px-7 text-base font-medium transition hover:bg-sky-700 text-white bg-sky-600 mx-1"
                                    ) Edit
                                    button(
                                        class="text-body-color hover:border-primary hover:bg-primary inline-block rounded-full py-2 px-7 text-base font-medium transition hover:bg-red-700 text-white bg-red-600 mx-1 remove-btn"
                                        id=`${article.title+'_'+article.id}`
                                    ) Delete
                div(class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 z-40 hidden" id="bg-dark")
                div(class="bg-white p-4 rounded-md shadow-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 animate__animated animate__faster hidden w-10/12 z-50 max-w-xl" id="box-dialog")
                    h1(id="box-dialog-title" class="font-bold text-2xl mb-3")
                    p(id="box-dialog-content" class="mb-2")
                    div(class="w-full flex justify-end")
                        form(method="POST" class="remove-article-form")
                            input(type="hidden" name="_csrf" value=csrfToken)
                            input(
                                type="submit"
                                class="text-body-color hover:border-primary hover:bg-primary inline-block rounded-full py-2 px-7 text-base font-medium transition text-sky-700  mx-1"
                                value="Delete"
                            ) 
                        a(
                            class="text-body-color hover:border-primary hover:bg-primary inline-block rounded-full py-2 px-7 text-base font-medium transition text-sky-700  mx-1 cursor-pointer"
                            id="close-btn"
                        ) Cancel
                div(class="bg-white px-4 py-3 flex items-center justify-center")
                        div(class="flex-1 flex justify-center sm:hidden")
                            a(href=`/articles/my-articles?page=${currentPage - 1}` class=`${currentPage == 0 ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 mx-1`) Previous
                            a(href=`/articles/my-articles?page=${currentPage + 1}` class=`${currentPage + 1 == totalPages ? 'pointer-events-none' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 mx-1`) Next
                        div(class="hidden sm:block") 
                            nav(class="relative z-0 inline-flex rounded-md shadow-md")
                                - var n = 1;
                                    while n <= totalPages 
                                        a(href=`/articles/my-articles?page=${n - 1}` class=`${currentPage == n - 1 ? 'bg-sky-50 border-sky-500 text-sky-600 pointer-events-none' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'}relative nline-flex items-center px-4 py-2 border text-sm font-medium`) #{n++}
    else 
        div(class="mt-8 mx-auto max-w-md flex items-center h-screen")
            div(class="bg-white m-auto w-8/12 px-4 animate__animated animate__fadeIn animate__faster")
                p(class='bg-blue-300').py-2.px-5.rounded-lg.w-full.font-bold.text-center.text-white.uppercase You have not published an article yet
block scripts
    script(src="/js/app.js") 